<div class="mx-auto mt-3" style="max-width: 600px; padding: 24px">

  <!-- Error Box -->
  <div class="text-center py-3 mb-4 border border-danger" *ngIf="errorMessage">
    <img src="../../assets/red-alert-icon.svg" width="30" class="me-4"/>
    <span>{{errorMessage}}</span>
  </div>


  <!-- Loading Box -->
  <div></div>

  <form #signInForm="ngForm" (ngSubmit)="signInClicked()">
    <div class="mb-4">
      <label for="email" class="fw-bold mb-2">E-Mail</label>
      <div class="input-group" [class.invalid]="email.invalid&&email.touched">
          <span class="input-group-text"><i class="fa fa-envelope" ></i></span>
          <input type="email" id="email" class="form-control" ngModel name="email" required email #email="ngModel"/>
      </div>
    </div>

    <div class="mb-4">
      <label for="password" class="fw-bold mb-2">Password</label>
      <div class="input-group" [class.invalid]="password.invalid&&password.touched">
          <span class="input-group-text"><i class="fas fa-lock"></i></span>
          <input name="password" type="password" class="form-control" id="password" ngModel required minlength="6" #password="ngModel"/>
          <!-- <span class="input-group-text"><i class="fas fa-eye"></i></span> -->
      </div>
    </div>


    <div class="mb-4">
      <button class="btn btn-primary" type="submit" [disabled]="signInForm.invalid">Sign In</button>
    </div>
    <div class="mb-4 text-center">Don't have an account? <a [routerLink]="['/auth', 'signup']">Register now</a></div>
  </form>
    
</div>


